body,
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

a {
  font-weight: normal;
  text-decoration: none;
  color: rgb(21, 39, 35);
}

//? PAGE SECTIONS

.navbar {
  background: rgb(42, 170, 170);
  margin-bottom: 10px;
  padding: 20px;
}

.navbar-logged {
  background: rgb(144, 184, 184);
  margin-bottom: 10px;
  padding: 10px;
}

.main {
  display: flex;
  height: 100vh;

  .all-main {
    width: 100%;
    background: rgb(231, 231, 190);  

}

  .left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(230, 188, 188);
    width: 30%;
  }

  .central {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(175, 184, 212);
    width: 70%;
  }
}

//? CHATBOX

.chatbox-frame {
  background-color: rgb(179, 212, 202);
  max-height: 300px;
  max-width: 300px;
  min-height: 300px;
  min-width: 300px;
  overflow: scroll;
}

//? TRIPS

.club-trip-index {
  display: flex;
  max-height: 200px;
  max-width: 100%;
  overflow: scroll;
}

.my-trips-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 90%;
  max-width: 90%;
  overflow: scroll;
}

.trip-card {
  margin: 10px;
  background-color: rgb(179, 212, 202);
  width: 120px;
  height: 120px;
  font-size: 12px;
}

//? CLUBS

.my-clubs-index {
  display: flex;
  max-height: 200px;
  max-width: 100%;
  overflow: scroll;
}

.club-card {
  margin: 10px;
  background-color: rgb(179, 212, 202);
  width: 120px;
  height: 120px;
  font-size: 12px;
}

.requests-frame {
  background: rgb(193, 230, 176);
  max-height: 100px;
  max-width: 300px;
  min-height: 100px;
  min-width: 300px;
  overflow: scroll;

}