//? VARS
:root {
  // COLORS
  --main-blue: #99e1e5;
  --main-pink: #fbafaf;
  --main-bg: #d5dbdb;
  --main-yellow: rgb(242, 243, 164);
  --main-purple: rgb(186, 176, 214);
  --main-green: rgb(136, 238, 184);
  // BORDERS
  --comp-white-border: 3px solid white;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-weight: normal;
}


a {
  font-weight: normal;
  text-decoration: none;
  color: rgb(21, 39, 35);
}

//? COMMON

.is-hidden {
  display: none;
}

button {
  background: var(--main-blue);
  border: 2px solid white;
  border-radius: 10px;
  margin: 5px;
  padding: 6px;
  font-weight: bold;
}

.Select-component {
  font-size: 12px;
  height: 40px;
  .Select-component__control {
    border-radius: 10px;

  }
}

//? PAGE SECTIONS

//? NAVBARS

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--main-blue);
  height: 5vh;
  max-height: 20px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  .links {
    margin: 20px;
    display: flex;
    align-items: center;
    .navbar-item {
      font-weight: bold;
      margin-left: 10px;
    }
    .logo {
      font-weight: 800;
      font-size: 25px;
      position: relative;
      left: -20px;
    }
  }
  button {
    margin: auto auto auto 30px;
  }
}

.navbar-logged {
  display: flex;
  align-items: center;
  background: var(--main-yellow);
  height: 3vh;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  .navbar-item {
    font-weight: bold;
    margin-left: 10px;
  }
  .links {
    margin-left: 20px;
  }
}

//?

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-bg);
  height: 88.8vh;
  min-height: 100%;
  border-radius: 10px;
  overflow: scroll;
  h1 {
    font-weight: bold;
    color: black;
    margin: 30px;
  }
}

.page-title {
  margin-top: 20px;
}

//? HOME

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .home-text {
    text-align: center;
    width: 70%;
    max-width: 500px;
    h4 {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.welcome {
  font-size: 25px;
}


//? AUTH

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  background: var(--main-pink);
  border-radius: 10px;
  border: var(--comp-white-border);
  text-align: center;
  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    label {
      margin: 10px;
      font-weight: bold;
    }
    input {
      border: 2px solid white;
      border-radius: 5px;
      padding: 5px;
      text-align: center;
      width: 200px;
    }
  }
  button {
    background: var(--main-pink);
  }
}

.login {
  background: var(--main-purple);
  button {
    background: var(--main-purple);
  }
}

//? DASHBOARD

.dashboard-widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 220px;
}

.create-club {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin: 20px;
  padding: 10px;
  background: var(--main-blue);
  border: var(--comp-white-border);
  border-radius: 10px;
  input {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.requests-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 10px;
  background: var(--main-pink);
  border: var(--comp-white-border);
  border-radius: 10px;
  min-width: 200px;
  max-height: 220px;
  div {
    overflow: scroll;
  }
  h3 {
    font-weight: bold;
  }
  p {
    margin: 5px;
    font-size: 13px;
  }
  button {
    background: var(--main-pink);
  }
}

//? TRIPS

.club-trip-index {
  display: flex;
  max-height: 200px;
  max-width: 100%;
  overflow: scroll;
}

.my-trips-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 90%;
  max-width: 90%;
  overflow: scroll;
}

.trip-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: var(--main-purple);
  width: 120px;
  height: 120px;
  font-size: 12px;
  text-align: center;
  border: var(--comp-white-border);
  border-radius: 10px;
  min-width: 200px;
  max-height: 220px;
  overflow: scroll;

  h3 {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
  }

  h4 {
    margin: 5px;
    margin-top: 0;
  }
}

//? PINS

.create-a-pin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 10px;
  padding: 10px;
  background: var(--main-purple);
  border: var(--comp-white-border);
  border-radius: 10px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;

  }
  input {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100%;
  }

.Select-component {
  width: 100%;

  .Select-component__control {
    width: 100%
  }
}

  
  textarea {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100%;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  button {
    background: var(--main-purple);
  }
}

.pins-and-create {
  display: flex;
  justify-content: center;
}
.pins-frame {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60%;
}

.pin-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  // background-color: var(--main-yellow);
  width: 120px;
  height: 120px;
  font-size: 12px;
  text-align: center;
  // border: var(--comp-white-border);
  border-radius: 10px;
  min-width: 300px;
  min-height: 300px;
  overflow: scroll;

  h3 {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
  }

  h4 {
    margin: 5px;
    margin-top: 0;
    font-size: 14px;
  }

  img {
    width: 80%;
    border: 3px solid white;
    box-shadow: 1px 1px 3px black;
    margin: 5px;
  }
}

//? CLUBS

.main-page-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-bg);
  height: 100vh;
  min-height: 100%;
  border-radius: 10px;
  overflow: scroll;
  h1 {
    font-weight: bold;
    color: black;
    margin: 30px;
  }
}

//? chatbox

.chatbox-frame {
  background-color: var(--main-bg);
  width: 80%;
  max-height: 400px;
  border: var(--comp-white-border);
  border-radius: 10px;
  margin-top: 20px;
  h1 {
    text-align: center;
  }

  .chat-feed {
    overflow: scroll;
    max-height: 180px;
  }

  .chat-message {
    margin: 7px;
    word-wrap: normal;
    margin-bottom: 5px;
    background: white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
  }
  h1 {
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
  }
  h4 {
    font-size: 11px;
    margin: 5px;
  }
  h5 {
    font-size: 10px;
    margin: 0;
    text-align: right;
  }
}

.create-message {
  margin: 10px;
  padding: 10px;

  textarea {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    text-align: justify;
    // width: 100%;
  }
  form {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  button {
    background: var(--main-bg);
  }
}

//?

.my-clubs-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
  overflow: scroll;
}

.club-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: var(--main-green);
  width: 120px;
  height: 120px;
  font-size: 12px;
  text-align: center;
  border: var(--comp-white-border);
  border-radius: 10px;
  min-width: 200px;
  max-height: 220px;
  overflow: scroll;

  h3 {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .club-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    h4 {
      margin: 5px;
      margin-top: 0;
    }
  }
}

.create-a-trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  background: var(--main-blue);
  border: var(--comp-white-border);
  border-radius: 10px;
  form {
    text-align: center;
  }
  input {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.add-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 20px;
  padding: 10px;
  background: var(--main-yellow);
  border: var(--comp-white-border);
  border-radius: 10px;
  h3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  input {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 200px;
    margin: 10px;
  }
  button {
    background: var(--main-yellow);
  }
}


.main {
  display: flex;
  height: 100vh;
  overflow: scroll;

  .left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-pink);
    width: 35%;
    height: 100%;
    border-radius: 10px;
    margin-right: 5px;
    overflow: scroll;
  }

  .central {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-bg);
    width: 65%;
    height: 100%;
    border-radius: 10px;
    overflow: scroll;

    .club-trip-index-c {
      width: 90%;
    }
    .add-widgets {
      margin-top: 10vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    h1 {
      font-weight: bold;
    }
  }
}
